form {
  margin-top: 5em;
  font-weight: bold;
  background-color: cyan;
  border-radius: 10px;

  box-shadow: 0px 0px 5px 5px cyan;
  height: 24em;
  text-align: center;
  width: 22em;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}

.btn-primary {
  border-radius: 10px;
}
